<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.sentinel.sdk" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-sentinel-sdk</name>
    <js-module name="SentinelSDK" src="www/SentinelSDK.js">
        <clobbers target="window.SentinelSDK" />
    </js-module>
        <platform name="android">
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <config-file parent="/*" target="res/xml/config.xml">

            <preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="GradlePluginKotlinVersion" value="1.9.10" />

            <feature name="CordovaPluginSentinelSDK">
                <param name="android-package" value="org.apache.cordova.plugin.sentinel.CordovaPluginSentinelSDK" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/org/apache/cordova/plugin/sentinel/CordovaPluginSentinelSDK.kt" target-dir="java/org/apache/cordova/plugin/sentinel/" />
        
        <source-file src="src/android/org/apache/cordova/plugin/sentinel/modules/AuthModule.kt" target-dir="java/org/apache/cordova/plugin/sentinel/" />
        <source-file src="src/android/org/apache/cordova/plugin/sentinel/modules/LocationModule.kt" target-dir="java/org/apache/cordova/plugin/sentinel/" />
        <!-- <source-file src="src/android/org/apache/cordova/plugin/sentinel/modules/DeviceManager.kt" target-dir="java/org/apache/cordova/plugin/sentinel/" /> -->
        <source-file src="src/android/org/apache/cordova/plugin/sentinel/modules/CustomersModule.kt" target-dir="java/org/apache/cordova/plugin/sentinel/" />
        <!-- <source-file src="src/android/org/apache/cordova/plugin/sentinel/modules/DevicesModule.kt" target-dir="java/org/apache/cordova/plugin/sentinel/" /> -->
        <!-- <source-file src="src/android/org/apache/cordova/plugin/sentinel/modules/WifiDiscovery.kt" target-dir="java/org/apache/cordova/plugin/sentinel/" /> -->

        <source-file src="src/android/org/apache/cordova/plugin/sentinel/interfaces/ModuleDelegate.kt" target-dir="java/org/apache/cordova/plugin/sentinel/" />
    </platform>
</plugin>
