<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.sentinel.sdk" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-plugin-sentinel-sdk</name>
    <js-module name="SentinelSDKDevices" src="www/DevicesModule.js">
        <clobbers target="window.SentinelSDK.DevicesModule" />
    </js-module>
    <js-module name="SentinelSDKAuth" src="www/AuthModule.js">
        <clobbers target="window.SentinelSDK.AuthModule" />
    </js-module>
    <js-module name="SentinelSDKLocation" src="www/LocationModule.js">
        <clobbers target="window.SentinelSDK.LocationModule" />
    </js-module>
    <js-module name="SentinelSDKCustomers" src="www/CustomersModule.js">
        <clobbers target="window.SentinelSDK.CustomersModule" />
    </js-module>
    <js-module name="SentinelSDKDeviceManager" src="www/DeviceManager.js">
        <clobbers target="window.SentinelSDK.DeviceManager" />
    </js-module>
    <platform name="android">
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />
        <config-file parent="/*" target="res/xml/config.xml">
            <preference name="GradlePluginKotlinEnabled" value="true" />
            <preference name="GradlePluginKotlinCodeStyle" value="official" />
            <preference name="GradlePluginKotlinVersion" value="1.9.10" />
            <feature name="CordovaPluginSentinelSDK">
                <param name="android-package" value="org.apache.cordova.plugin.sentinel.CordovaPluginSentinelSDK" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <!-- <uses-permission android:name="android.permission.CAMERA" /> -->
            <uses-permission android:name="android.permission.VIBRATE"/>
        </config-file>
        <source-file src="src/android/org/apache/cordova/plugin/sentinel/CordovaPluginSentinelSDK.kt" target-dir="java/org/apache/cordova/plugin/sentinel/" />
        <source-file src="src/android/org/apache/cordova/plugin/sentinel/modules/AuthModule.kt" target-dir="java/org/apache/cordova/plugin/sentinel/modules/" />
        <source-file src="src/android/org/apache/cordova/plugin/sentinel/modules/LocationModule.kt" target-dir="java/org/apache/cordova/plugin/sentinel/modules/" />
        <source-file src="src/android/org/apache/cordova/plugin/sentinel/modules/DeviceManager.kt" target-dir="java/org/apache/cordova/plugin/sentinel/modules/" />
        <source-file src="src/android/org/apache/cordova/plugin/sentinel/modules/CustomersModule.kt" target-dir="java/org/apache/cordova/plugin/sentinel/modules/" />
        <source-file src="src/android/org/apache/cordova/plugin/sentinel/modules/DevicesModule.kt" target-dir="java/org/apache/cordova/plugin/sentinel/modules/" />
        <!-- <source-file src="src/android/org/apache/cordova/plugin/sentinel/modules/WifiDiscovery.kt" target-dir="java/org/apache/cordova/plugin/sentinel/modules/" /> -->
        <source-file src="src/android/org/apache/cordova/plugin/sentinel/interfaces/ModuleDelegate.kt" target-dir="java/org/apache/cordova/plugin/sentinel/modules/" />
    </platform>
</plugin>